* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url("./img01.jpg");
  /* position: absolute; */
  background-size: contain;
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: space-between;
}
ul li a {
  text-decoration: none;
  color: white;
}
.fas,
.fas,
.fas {
  color: white;
}
.fas:hover {
  color: red;
}
.home-section,
.kayata a {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  color: white;
}
.home-section a:hover,
.kayata a:hover {
  color: red;
}
.home-section a {
  padding: 0.6rem;
  color: white;
  text-decoration: none;
  font-size: 9px;
}
.kayata {
  margin-left: 1rem;
}
.horizental-line {
  width: 100%;
  height: 0.5px;
  margin-top: 1pc;
  background-color: rgb(175, 169, 169);
}
.hero-section a:hover {
  color: red;
}
.logo {
  width: 2.7rem;
}
.logo2 {
  width: 2rem;
}
hr {
  margin-top: -1rem;
}
.middle-part {
  width: 31rem;
  position: absolute;
  color: white;
  left: 35%;
  top: 40%;
  font-family: "Poppins", sans-serif;
}
.middle-part h1 {
  font-size: 3rem;
}
.middle-part p {
  font-family: "Playfair Display", serif;
  font-size: small;
}
.middle-part button {
  border-radius: 4rem;
  width: 6rem;
  color: white;
  border-style: none;
  background-color: rgb(240, 18, 18);
  padding: 9.8px;
  margin-left: 9rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 8px;
}
span {
  padding-left: 2.8rem;
}
/* -------------------ABOUT SECTION---------------------------- */
.image {
  display: flex;
  margin-left: 18.5rem;
  margin-right: 18.5rem;
  justify-content: space-around;
  margin-top: 6rem;
}
.one {
  position: relative;
  width: 14rem;
  height: 14rem;
  transition: 0.5s;
}
.image1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.transpose {
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

.one:hover .image1 {
  width: 12rem;
  height: 12rem;
}
.one:hover .transpose {
  width: 12rem;
  height: 12rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.about-us {
  margin-top: 5rem;
}
.heading {
  text-align: center;
}

.heading h2 {
  font-weight: bold;
}
.heading p {
  color: rgba(247, 7, 7, 0.952);
  font-size: 10px;
}
.rect-triangle {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.rect {
  background-color: rgb(235, 231, 231);
  width: 4rem;
  height: 0.4rem;
  display: flex;
  justify-content: center;
}
.triangle {
  width: 11px;
  height: 11px;
  background-color: rgb(235, 231, 231);
  margin-top: -0.4rem;
  transform: rotate(44deg);
  /* transform: rotate(75deg); */
  /* border-left: 25px solid white;
  border-right: 25px solid white;
  border-bottom: 50px solid #555; */
}

.content {
  text-align: center;
  margin: 4rem 24rem;
  color: rgb(211, 208, 208);
  font-size: small;
}
.first-data {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
}
.data1 {
  width: 11.7rem;
  background-color: rgba(245, 240, 240, 0.822);
  text-align: center;
}
.data1 h2 {
  padding-top: 1rem;
  color: black;
}
.line11{
  height: 6rem;
  width: 1px;
  background-color: rgb(206, 200, 200);
}
.description {
  width: 100%;
  height: 78vh;
  margin-top: 5rem;
  background-color: rgb(252, 247, 247);
}
.heading1,
.heading2 {
  text-align: center;
  padding-top: 3rem;
}
.heading1 p,
.heading2 p {
  color: red;
  font-size: 10px;
}
.description1,
.description2 {
  display: flex;
  margin-left: 16rem;
  margin-right: 16rem;
  justify-content: space-around;
  margin-top: 2rem;
}
.extra-cintect {
  width: 15rem;
}
.description1 h5:hover,
.description h5:hover {
  color: red;
}
.description1 h5,
.description h5 {
  font-weight: bold;
  font-size: medium;
}
.description1 p,
.description p {
  font-size: small;
}
.image2 {
  display: flex;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 4rem;
  justify-content: space-around;
}
.img2 {
  width: 13rem;
}
section p {
  font-size: small;
}
section h4 {
  font-weight: bolder;
}
.unique-image{
  position: relative;
}
section {
  position: absolute;
  text-align: center;
  top: 0;
  color: rgba(206, 197, 197, 0.1);
  width: 13rem;
  height: 13rem;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0);
}
.unique-image:hover section {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
/* ---------------OUR SKILL---------------------- */
.our-skill{
  width: 100%;
  height: 80vh;
  background-color: rgb(247, 240, 240);
  margin-top: 4rem;
}
.first-part{
  height: 1rem;
}
.hundred-percent{
  height: 2px;
  width: 20%;
  background-color: gray;
}
.ninty{
  height: 2px;
  width: 19%;
  background-color: red;
}


/* ---------------------------------------------- */
.image-red {
  width: 100%;
  height: 60vh;
  background-image: url("./img45.jpg");
  margin-top: 7rem;
  overflow: hidden;
  background-size: contain;
  background-attachment: fixed;
}
.red {
  position: absolute;
  height: 60vh;
  width: 100%;
  background: rgb(206, 9, 9);
  opacity: 0.6;
  color: white;
  text-align: center;
}
.red h4 {
  width: 38rem;
  margin-top: 13%;
  margin-left: 30%;
  color: white;
}
.red p {
  text-align: center;
  width: 38rem;
  margin-left: 30%;
  font-size: small;
  color: white;
}
.work-part {
  margin-top: 4rem;
}
.works p {
  color: red;
  font-size: 10px;
}
.works {
  text-align: center;
}
.heading3 {
  display: flex;
  margin-left: 16rem;
  margin-right: 16rem;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  margin-top: 4rem;
}
.heading3 li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.heading3 .all {
  color: gray;
}
.image4 {
  width: 100%;
  margin-top: 4rem;
}
.img4 {
  display: flex;
}
.img5 {
  display: flex;
}
.img4-1 {
  width: 21.1rem;
}
.footer-img {
  width: 100%;
  height: 17vh;
  color: white;
  background-color: rgb(231, 22, 22);
}
.content-part {
  margin-left: 18rem;
  margin-right: 18rem;
  display: flex;
  justify-content: space-around;
}
.content-part button {
  border-radius: 45px;
  color: red;
  text-decoration: none;
  border-style: none;
  width: 9.5rem;
  height: 2.4rem;
  margin-top: 2rem;
}
.content-part h5 {
  margin-top: 3rem;
}
.price-part {
  width: 100%;
  height: 110vh;
  background-color: rgb(216, 211, 211);
}
.heading4 {
  text-align: center;
}
.heading4 p {
  color: red;
  padding-top: 5rem;
}
.button {
  position: absolute;
  left: 44%;
}
.month {
  background-color: red;
  color: white;
  width: 6rem;
  height: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-style: none;
}
.year {
  color: red;
  width: 6rem;
  height: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-color: red;
}
.price-explanation {
  display: flex;
  margin-top: 7rem;
  margin-left: 13rem;
  margin-right: 13rem;
  justify-content: space-around;
}
.plan {
  width: 18rem;
  height: 18rem;
  background-color: white;
  text-align: center;
}
.head {
  color: red;
  padding-top: 2rem;
}
.start-button {
  border-style: none;
  width: 9rem;
  height: 2.4rem;
  border-radius: 18px;
  border-color: red;
  color: red;
  font-weight: bold;
}
.descript {
  color: grey;
  font-size: 7.7px;
  font-weight: bold;
}
#unique-part {
  background-color: red;
}
#pro-plan {
  color: white;
}
.image6 {
  width: 100%;
  height: 60vh;
  position: relative;
}
.img6 {
  display: flex;
  margin-left: 19rem;
  margin-right: 19rem;
  justify-content: space-around;
}
.image6 img {
  width: 14rem;
  height: 14rem;
}
.black-scr {
  background-color: black;
  width: 14rem;
  height: 14rem;
  opacity: 0.7;
  top: 0;
  position: absolute;
  /* display: none; */
}
.image7 {
  width: 100%;
  height: 60vh;
  background-image: url("./img45.jpg");
  /* background-attachment: fixed; */
  position: relative;
}
.black {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 60vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab {
  color: white;
}
span {
  color: white;
}
form {
  width: 100%;
  height: 30vh;
}
.sub-form {
  margin-left: 25rem;
  margin-right: 20rem;
  display: flex;
  column-gap: 1rem;
  /* justify-content: space-around; */
}
input[type="email"],
input[type="tel"],
input[type="digit"] {
  width: 17rem;
  height: 2rem;
  border-style: none;
  background-color: rgb(247, 241, 241);
}
input[type="text"] {
  height: 9rem;
  border-style: none;
  width: 18rem;
  background-color: rgb(243, 235, 235);
}
.form-button button {
  height: 2.6rem;
  width: 10rem;
  border-radius: 19px;
  background-color: red;
  border-style: none;
  color: white;
}
.form-button {
  display: flex;
  justify-content: center;
}
/* ----------------Mapping css--------------- */
.map {
  width: 100%;
  height: 40vh;
  margin-top: 5rem;
}
.map-image {
  width: auto;
  height: 40vh;
}
/* ------------------------------------------------ */

/* ------------------Footer-------------------------- */
.footer1 {
  width: 100%;
  height: 130vh;
  background-color: black;
}
.heading1-footer {
  padding-top: 4rem;
  color: white;
  margin-left: 20rem;
  margin-right: 20rem;
  display: flex;
  justify-content: space-around;
}
.heading2-footer {
  margin-top: 2rem;
  color: white;
  margin-left: 16rem;
  margin-right: 14rem;
  display: flex;
  justify-content: space-around;
}
.heading2-footer .subscribe {
  height: 2.7rem;
  width: 12rem;
  border-color: red;
  color: white;
}
.subscribe {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: red;
}
.email {
  border-color: none;
  color: gray;
  height: 2.7rem;
  width: 12rem;
}
.detail,
.detail1 {
  font-size: 11px;
}
.horizental {
  margin-top: 1rem;
  margin-left: 20rem;
  margin-right: 19rem;
  background-color: rgb(202, 195, 195);
  height: 0.1px;
}
.post {
  color: white;
  width: 8rem;
  height: ;
}
.ftr-img {
  width: 3rem;
  height: 3rem;
}
.img-heading {
  display: flex;
  color: white;
  width: 15rem;
  height: 6rem;
  padding: 0.5rem;
  column-gap: 1rem;
}
.post-div {
  display: flex;
  justify-content: space-around;
}
.data {
  display: flex;
  padding: 0.8rem;
  width: 9rem;
}
.post .fas {
  font-size: 9px;
}
.insta-img,
.iimmgg {
  display: flex;
}
.img-instagram {
  width: 3rem;
}
.symbol {
  width: 1rem;
}
